<?xml version="1.0"?>
<robot name="jetbot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="wheel_base" value="0.1136" />  
  <xacro:property name="wheel_diam" value="0.067" />
  <xacro:property name="wheel_width" value="0.00135" />
  <xacro:property name="tag_plate_size" value="0.08" />
  <xacro:property name="tag_plate_z" value="0.132" />

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diam/2}"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 ${-wheel_base} 0"/>
    </visual>
  </link>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_diam/2}"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 ${wheel_base} 0"/>
    </visual>
  </link>

  <link name="tag_plate">
    <visual>
      <geometry>
        <box size="${tag_plate_size} ${tag_plate_size} 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${tag_plate_z}"/>
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_leg"/>
    <origin xyz="0 -0.22 0.25"/>
  </joint>
</robot>
